body {
  font-family: sans-serif;
}

.container {
  background-color: bisque;
  border: 1px solid black;
  text-align: center;
  margin: 0 300px;
  overflow: auto;
  height: 612px;
}

.fa-star {
  color: yellow;
  float: right;
}

span {
  float: right;
}
